In [142]:
import pandas as pd
import numpy as np

from scipy.stats import yeojohnson
from scipy.stats import skew

In [143]:
df = pd.read_pickle("df_age_file.pkl")

In [144]:
pwd

'/Users/ahmadtaquee/Desktop/datascience/thyroid-detection-end-to-end-deployment/models'

In [145]:
df.head() # 2800x1 shape

    age
0  41.0
1  23.0
2  46.0
3  70.0
4  70.0

Let's extract one value and remember it for future reference

In [146]:
df.iloc[850]

age    62.0
Name: 850, dtype: float64

In [147]:
sqrrt_target = df['age']**(1/2)

In [148]:
df_sqrrt_target = sqrrt_target.to_frame(name='sq_age')

In [149]:
df_sq_concat = pd.concat([df, df_sqrrt_target], axis = 1)

In [151]:
df_sq_concat.head()

    age    sq_age
0  41.0  6.403124
1  23.0  4.795832
2  46.0  6.782330
3  70.0  8.366600
4  70.0  8.366600

In [152]:
df_sq_concat.iloc[850]

age       62.000000
sq_age     7.874008
Name: 850, dtype: float64

In [154]:
df.age.iloc[850]

62.0

In [ ]:
lambda_at_850_temp = yeojohnson(62.0, lmbda = lm)

In [155]:
sqrrt_target_temp = df.age.iloc[850]**(1/2)

In [156]:
sqrrt_target_temp

7.874007874011811

In [68]:
# applying Y-J on complete dataset
yj_transformation, lambda_values = yeojohnson(df['age'])

df_age_trans = pd.DataFrame(yj_transformation, columns = ['age_transformed'])

In [69]:
df_new = pd.concat([df, df_age_trans], axis = 1)

In [70]:
df_new.head()

    age  age_transformed
0  41.0        17.635405
1  23.0        11.525391
2  46.0        19.174507
3  70.0        25.960596
4  70.0        25.960596

In [53]:
# we already saw that at index 850, we have age value 62.0 and now we got the transforation as well (below)
df_new.iloc[850]

age                62.000000
age_transformed    23.791788
Name: 850, dtype: float64

In [74]:
df_temp = df[0:851]

In [76]:
yj_transformation_temp, lambda_values_temp = yeojohnson(df_temp['age'])

In [77]:
lambda_values_temp

1.0895443693807836

In [ ]:
yj_transformation_temp[]

#### Now, I want to directly apply the Y-J Transforamtion on a single age value

#### Let's take that single value the index 850 i.e. 62.0

In [56]:
age_trans_850, lambda_at_850 = yeojohnson([df.iloc[850]])

/Users/ahmadtaquee/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/optimize.py:2115: RuntimeWarning: invalid value encountered in subtract
  tmp1 = (x - w) * (fx - fv)
/Users/ahmadtaquee/opt/anaconda3/lib/python3.8/site-packages/scipy/optimize/optimize.py:2116: RuntimeWarning: invalid value encountered in subtract
  tmp2 = (x - v) * (fx - fw)

In [57]:
age_trans_850

array([[2.07140298e+14]])

#### From the above result, we can see, I'm getting completely different value when applyin Y-J on single data i.e. 62.0

WHY????

In [102]:
lm = 1.089544

In [103]:
lambda_at_850_temp = yeojohnson(62.0, lmbda = lm)

In [104]:
lambda_at_850_temp

array(82.87676439)